<div class="container-main">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab1">1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2">2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab3">3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab4">4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab5">5</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="tab1" class="container tab-pane active"><br>
                    <h3>Về mặt tinh thần</h3>
                    <p> Góp phần giữ gìn sức khỏe, nâng cao thể lực và cải thiện vóc dáng giúp bạn có thể vượt qua mọi deadline và kỳ thi căng thẳng.</p>
                </div>
                <div id="tab2" class="container tab-pane fade"><br>
                    <h3>Về mặt sức khoẻ</h3>
                    <p>Tạo dựng cơ sở cho sự phát triển năng lực thể chất toàn diện, hoàn thiện bản thân và rèn luyện các kỹ năng mềm (teamwork, phản xạ, thích ứng...)</p>
                </div>
                <div id="tab3" class="container tab-pane fade"><br>
                    <h3>Về mặt tâm lý</h3>
                    <p>Thể thao giúp giảm stress đồng thời đem đến một giấc ngủ ngon để nạp lại năng lượng tích cực cho một ngày mới đầy niềm vui và thử thách.</p>
                </div>
                <div id="tab4" class="container tab-pane fade"><br>
                    <h3>Về mặt y học</h3>
                    <p>Rèn luyện thể chất thường xuyên còn bảo vệ chúng ta khỏi một số căn bệnh như đau cơ, đau đầu, mệt mỏi, trầm cảm...</p>
                </div>
                <div id="tab5" class="container tab-pane fade"><br>
                    <h3>Về mặt xã hội</h3>
                    <p>Thể thao cũng giúp chúng ta làm quen thêm nhiều người bạn mới, mở rộng mối quan hệ xã hội của mình và nếu may mắn, bạn sẽ tìm được "duyên" của mình</p>
                </div>
            </div>
        </div>