<div class="footer" id="lienhe">
        <div class="table-box">
            <div class="container">
                <h2 style="margin-bottom: 2vh">Contact</h2>
                <table id="customers" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="background:transparent">Our Website</th>
                            <th style="background:transparent">Team Information</th>
                            <th style="background:transparent">References</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Developed by 1612538</p>
                                <p>Email: nhockid369@gmail.com</p>
                                <p>Phone number: 0762438101</p>
                            </td>
                            <td>
                                <a type="button" class="btn" data-toggle="collapse" data-target="#listMember" style="margin-top: -7px">Members <img src="https://www.libreriasanjorge.com.ar/core/vendors/v24/icons/material.io/android/drawable-xxxhdpi/ic_keyboard_arrow_down_black_48dp.png" style="width: 25px; height: 25px;"></a>
                                <div id="listMember" class="collapse" style="margin-left: 7%;">
                                    <p style="border-top: 1px solid dodgerblue; margin: 0px;padding: 5px"></p>
                                </div>
                            </td>
                            <td>
                                <p>w3schools.com</p>
                                <p>stackoverflow.com</p>
                                <p>npmjs.com</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>